html, body {
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-gray), 1);
}

header {
    width:            100%;
    min-width: 100%;
    height:           3.75rem;
    display:          flex;
    padding:          .8125rem 2.4375rem  .8125rem .875rem;
    align-items:      center;
    flex-direction:   row;
    justify-content:  space-between;
    background-color: rgba(var(--color-blue), 1);
}

#infoUser {
    gap: .5625rem;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;  
}


#infoUser figure {
    width: 3.0625rem;
    height: 2.875rem;
    border-radius: 50%;
    background-color: rgba(var(--color-white), 1);
}

#infoUser img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#userName {
    color: rgba(var(--color-white), 1);
    font-size: 1.25rem ;
    font-weight: 700 ;
    font-family: var(--font-firstOption);
}

#btnLogout {
    color: rgba(var(--color-white), 1) ;
    border: none;
    width: 6.0625rem;
    height: 1.875rem;
    font-size: 1.125rem ;
    font-weight: 400 ;
    font-family: var(--font-firstOption);
    background-color: rgba(var(--color-yellow), 1) ;
    border-radius: .3125rem;
}

#btnLogout:hover, #createPublication button:hover{
    background-color: #ffab3b;
    cursor: pointer;
}

#loginUndefined {
    position: absolute;
    background-color: rgba(var(--color-blue), 1);
    display: none;
    flex-direction: column;
    width: 26.75rem;
    height: 25.0625rem;
    border-radius: .3125rem ;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    z-index: 1;
    top: 8.375rem;   
}

#loginUndefined h1 {
    color: rgba(var(--color-white), 1);
    font-size: 1.875rem ;
    font-weight: 700 ;
    font-family: var(--font-firstOption);
    text-align: center;
}

#loginUndefined div {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

#loginUndefined div p {
    color: rgba(var(--color-white), 1);
    font-size: 1.25rem;
    font-weight: 500 ;
    font-family: var(--font-firstOption);
    text-align: center;
} 

#loginUndefined_btns {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .375rem;
}

#btnRegistration, #btnLogin {
    width: 8.25rem;
    height: 2.625rem;
    border-radius: .3125rem;
    border: none;
    background-color: rgba(var(--color-yellow), 1);
}

#btnRegistration:hover, #btnLogin:hover, .btnEditPublication:hover {
    cursor: pointer;
    background-color: orange;
}

a {
    color: rgba(var(--color-white), 1);
    font-size: 1.125rem;
    font-weight: 400 ;
    font-family: var(--font-firstOption);
}



main {
    width: 100%;
    height: 91.5%;
    padding: 1.375rem 0;
    display: flex;
    justify-content: center;
}

section {
    width: 37.5625rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    justify-content: flex-start;
    align-items: center;
}

#createPublication {
    width: 100%;
    min-height: 6.0625rem;
    border-radius: .3125rem;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.29);
    background-color: rgba(var(--color-white), 1);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#createPublication_input {
    width: 92%;
    height: 100%;
    border: none;
    border-radius: .3125rem;
    padding: 1.125rem;
    box-sizing: border-box;
    font-size: 1rem ;
    font-weight: 400 ;
    font-family: var(--font-firstOption);
}

#createPublication_input:focus {
    outline: 0;
}

#createPublication_input::placeholder{
    position:fixed;
}

#createPublication button {
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: rgba(var(--color-yellow), 1);
    border: none;
    border-radius: .3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.625rem 0;
}
 
#listPublications {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: .375rem;
    padding-bottom: 1.875rem;
}

.listPublications_item {
    width: 100%;
    min-height: 11.25rem;
    display: flex;
    justify-content: space-between;
    padding: 1.3125rem;
    background-color: rgba(var(--color-white), 1);
    border-radius: .3125rem ;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.29);

}

.listPublications_item img{
    width: 4.4375rem;
    height: 4.375rem;
    border-radius: 50%;
}

.item_publication {
    width: 21.9375rem;
    min-height: 8.3125rem;
}

.item_publication h2 {
    font-size: 1rem ;
    font-weight: 700 ;
    font-family: var(--font-firstOption)
}

.item_publication p, .editPublication{
    color: rgba(var(--color-dark-gray), 1);
    width: 100%;
    font-size: 1rem ;
    font-weight: 400 ;
    font-family: var(--font-secondOption); 
    overflow-wrap: break-word;
}

.editPublication {
    border: none;
    position: absolute;
    z-index: 1;
    max-width: 21.9375rem;
    display: none;
    background-color: rgba(var(--color-gray), 1);
    border-radius: .3125rem;
}

.editPublication:focus {
    outline: gray;
}

.btnEditPublication {
    border: none;
    position: absolute;
    z-index: 1;
    opacity: 6;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.29);
    width: 4.5rem;
    background-color: rgba(var(--color-yellow), 1);
    border: none;
    border-radius: .3125rem;
    padding-top: 0.2rem;
    color: rgba(var(--color-white), 1);
    font-family: var(--font-firstOption);
    display: none;
}

.item_toolsAndDate {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    gap: .625rem;

}

.btnEdit, .btnDelete {
    width: 2.375rem ;
    height: 0.8125rem;
    font-size: .75rem ;
    font-weight: 400 ;
    font-family: var(--font-firstOption);
    background-color: unset;
    border: none;
    
}

.btnEdit {
    color: rgba(var(--color-blue), 1);
    padding-left: 0.9375rem
  
}

.btnEdit:hover {
    cursor: pointer;
    color: darkblue;
}

.btnDelete {
    color: rgba(var(--color-red), 1);
    padding-left: 0.7rem;
}

.btnDelete:hover {
    cursor: pointer;
    color: darkred;
}


.editPublication_input {
    display: block;
    position: absolute;
    border-radius: .3125rem;
    border: 1px solid rgba(var(--color-dark-gray), 1);   
}

.editPublication_input:focus {
    outline: none;
}

.item_toolsAndDate span {
    width: 4rem;
    height: .875rem;
    color: rgba(var(--color-dark-gray), 1);
    font-size: .75rem ;
    font-weight: 400 ;
    font-family: var(--font-secondOption);
    text-align: center;
    
}

@media (max-width : 600px) {

    header {
        min-width: 21.9rem;
    }
    section {
        width: 80%;
        min-width: 21rem;
    }

   

}